html
body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.ytimg.com/vi/lwvlClH5jW4/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  nav {
    background-color: #0c0c0c;
    color: #f50c0c;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .cadastro-section {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .cadastro-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  select {
    background-color: #f1eded;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='https://i.ytimg.com/vi/lwvlClH5jW4/maxresdefault.jpg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M11.29 5.71L8 9.1l-3.29-3.39a1 1 0 1 0-1.42 1.42l4 4a1 1 0 0 0 1.42 0l4-4a1 1 0 1 0-1.42-1.42z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  .select-container {
    position: relative;
  }
  
  .tipo-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .tipo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #222;
  }
